<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body shadow">         
            <h3 class="card-title m-b-5">
                <span class="lstick"></span>Basic Information                     
            </h3>
            <h6 class="card-subtitle">Customer or Company Data</h6>
            <div class="row">
                <div class="col-md-12 ">
                        <!-- <h5>Full Name</h5>
                        <h5>Direction</h5>
                        <h5>Zip</h5>
                        <h5>State</h5>
                        <h5>Phone</h5>
                        <h5>Mobil</h5>
                        <h5>Email</h5>
                        <h5>Company</h5> -->
                    <form class="form-material m-t-40"  #formModalItem="ngForm">
                        <div class="row basic-info">  
                            <div class="col-md-4" >                                                
                                <div class="form-group modal-form" >   
                                    <label class="label-title" for="detail-name">* Full Name:</label>                      
                                    <input type="text" id="detail-name" class="form-control m-b-0" name="detail-name" >
                                </div>                      
                            </div>                        
                            <div class="col-md-4"  >                                                
                                <div class="form-group modal-form" >   
                                    <label class="label-title" for="detail-name">* Address:</label>                      
                                    <input type="text" id="detail-name" class="form-control m-b-0" name="detail-name" >
                                </div>                      
                            </div> 
                            <div class="col-md-2"  >                                                
                                <div class="form-group modal-form" >   
                                    <label class="label-title" for="detail-name"> Phone:</label>                      
                                    <input type="text" id="detail-name" class="form-control m-b-0" name="detail-name" >
                                </div>                      
                             </div> 
                             <div class="col-md-2"  >                                                
                                <div class="form-group modal-form" >   
                                    <label class="label-title" for="detail-name"> Mobile:</label>                      
                                    <input type="text" id="detail-name" class="form-control m-b-0" name="detail-name" >
                                </div>                      
                              </div>   
                              <div class="col-md-4" >     
                                  <div class="row">
                                      <div class="col-md-9">
                                            <div class="form-group modal-form" >   
                                                <label class="label-title" for="detail-name">* Email Address:</label>                      
                                                <input type="text" id="detail-name" class="form-control m-b-0" name="detail-name" >
                                            </div>    
                                      </div>
                                 </div>            
                               </div> 

                                <div class="col-md-4" >     
                                  <div class="row">
                                      <div class="col-md-9">
                                            <div class="form-group modal-form" >   
                                                <label class="label-title" for="detail-name"> Company Name:</label>                      
                                                <input type="text" id="detail-name" class="form-control m-b-0" name="detail-name" >
                                            </div>    
                                      </div>
                                  </div>            
                                </div> 

                               <div class="col-md-3" >                                                
                                    <div class="form-group modal-form" >   
                                        <label class="label-title" for="detail-name">Position in the Company:</label>                      
                                        <input type="text" id="detail-name" class="form-control m-b-0" name="detail-name" >
                                    </div>                      
                               </div>                      
                        </div>
                        <div class="row btn-next">
                            <div class="col-lg-2 col-md-4">
                                <button type="button" class="btn btn-block btn-outline-info" (click)="GoNextStep()">Next</button>
                            </div>
                        </div>                    
                    </form>
                </div>              
            </div>        
        </div>
      </div>
    </div> 
  </div>
  


