<div class="row"> 
    <div class="col-lg-3">
        <div class="card">               
            <div class="card-body shadow">
                <div class="d-flex">    
                    <h3 class="card-title m-b-5 text-center">
                        <span class="lstick"></span>Earnings
                    </h3>
                    <div class="pull-right">
                     <!-- Cualquiera cosa -->
                    </div>                                  
                </div>  
                <form class="form-material m-t-40"  #formItem="ngForm"  >
                    <div class="col-md-12  col-sm-12" >                                                
                        <div class="form-group" >   
                            <label class="label-title" for="ganancia_vinil">Gain per Inch</label>                      
                            <input type="number" id="ganancia_vinil" class="form-control m-b-0"  [(ngModel)]="ganancia_vinil"     [ngModelOptions]="{standalone: true}" > <span>%</span>
                            <button type="button" class="btn btn-success btn-circle" (click)="onSubmiteGain()">
                                <i class="fa fa-check"></i>
                            </button>
                         </div>                      
                    </div>                 
                </form>
            </div>
       </div>          
   </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <div class="card">                
            <div class="card-body shadow">
                <div class="d-flex">    
                    <h3 class="card-title m-b-5 text-center">
                        <span class="lstick"></span>Overhead
                    </h3>
                    <div class="pull-right">
                        <button type="button" class="btn btn-info btn-circle btn-lg">
                            <i class="fa fa-plus" (click)="ModalAddOverhead(contentAdd)"></i>
                        </button>
                    </div>                                  
                </div>      
                <!-- <form class="form-material m-t-40"  #formItem="ngForm"  >
                        <div class="col-lg-12  col-sm-12" >                                                
                            <div class="form-group" *ngFor="let item of items">   
                                <label class="label-title" for="ganancia_vinil">{{item.name}}</label>                      
                                <input type="number" id="ganancia_vinil" class="form-control m-b-0"  [(ngModel)]="item.price"     [ngModelOptions]="{standalone: true}" >
                             </div>                      
                        </div>                 
                </form>                                 -->
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">                           
                            <div class="table-responsive dark col-12">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="text-nowrap">Bill</th>
                                            <th>Description</th>
                                            <th>Cost</th>
                                            <th class="text-nowrap">Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of items; let i=index">
                                            <td class="table-col-3">
                                                {{item.name}}
                                            </td>
                                            <td class="table-col-4">
                                              {{item.description}}
                                            </td>
                                            <td class="table-col-1">
                                                USD${{item.cost}}
                                            </td>
                                            <td class="table-col-2">
                                                <button type="button" (click)="ModalViewOverhead(content, i)" class="btn btn-success btn-circle">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" (click)="deteleOverhead(i)" class="btn btn-danger btn-circle">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>                                 
                                    </tbody>                               
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">                           
                            <div class="total-overhead">
                                <h3>Total of Overhead: <span>USD${{totalOverhead}}</span> </h3>
                            </div>
                        </div>
                    </div>
                </div>                              
             </div>
        </div>
    </div>
</div>

  <!-- ViewModalEdit-->

<div class="row">
    <div class="col-lg-12">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title title-modal-plan">Edit Item: <span class="title-modal">{{itemDetail.name}}</span></h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">        
                <form class="form-material m-t-40"  #formModalItem="ngForm"   >
                    <div class="col-sm-10" >                                                
                        <div class="form-group modal-form" >   
                            <label class="label-title" for="detail-name">Bill:</label>                      
                            <input type="text" id="detail-name" class="form-control m-b-0" name="detail-name" [(ngModel)]="itemDetail.name" >
                        </div>                      
                    </div>    
                    <div class="col-sm-10" >                                                
                            <div class="form-group modal-form" >   
                                <label class="label-title" for="detail-name">Description:</label>                      
                                <input type="text" id="detail-description" class="form-control m-b-0" name="detail-description" [(ngModel)]="itemDetail.description"   >
                            </div>                      
                    </div>   
                    <div class="col-sm-10" >                                                
                            <div class="form-group modal-form" >   
                                <label class="label-title" for="detail-name">Cost:</label>                      
                                <input type="number" id="detail-cost" class="form-control m-b-0" name="detail-cost" [(ngModel)]="itemDetail.cost">
                            </div>                      
                    </div>                
                </form>   
            </div>
            <div class="modal-footer-s">
            
                <div class="group-button">
                    <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
                    <button type="button" class="btn btn-info" (click)="[ c('Close click'), updateOverhead()]">Update</button>   
                </div>   
    
            </div>
        </ng-template>    
        
    </div>
</div>

  <!-- ViewModalAdd-->

  <div class="row">
        <div class="col-lg-12">
            <ng-template #contentAdd let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title title-modal-plan">Add Item for Overhead <span class="title-modal"></span></h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">        
                    <form class="form-material m-t-40"  #formModalItem="ngForm"   >
                        <div class="col-sm-10" >                                                
                            <div class="form-group modal-form" >   
                                <label class="label-title" for="detail-name">Bill:</label>                      
                                <input type="text" id="detail-name" class="form-control m-b-0" name="detail-name" [(ngModel)]="addItem.name" >
                            </div>                      
                        </div>    
                        <div class="col-sm-10" >                                                
                                <div class="form-group modal-form" >   
                                    <label class="label-title" for="detail-name">Description:</label>                      
                                    <input type="text" id="detail-description" class="form-control m-b-0" name="detail-description" [(ngModel)]="addItem.description"   >
                                </div>                      
                        </div>   
                        <div class="col-sm-10" >                                                
                                <div class="form-group modal-form" >   
                                    <label class="label-title" for="detail-name">Cost:</label>                      
                                    <input type="number" id="detail-cost" class="form-control m-b-0" name="detail-cost" [(ngModel)]="addItem.cost">
                                </div>                      
                        </div>                
                    </form>   
                </div>
                <div class="modal-footer-s">
                
                    <div class="group-button">
                        <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
                        <button type="button" class="btn btn-info" (click)="[ c('Close click'), addOverhead()]">Add</button>   
                    </div>   
        
                </div>
            </ng-template>                
        </div>
    </div>
