<div class="row">
        <div class="col-lg-12">
            <div class="card">                
                <div class="card-body shadow">
                    <div class="header-content-navigation"> 
                        <div class="navigation">
                            <button type="button" class="btn btn-info btn-circle m-b-10" (click)="goBack()">
                                    <i class="fa fa-arrow-left"></i>
                            </button>
                        </div> 
                        <div class="content">
                            <h3 class="card-title m-b-5">
                                <span class="lstick"></span>Edit Item                     
                            </h3>
                            <div class="pull-right"></div>  
                        </div>                                                 
                    </div>    
                    <div class="col-12">
                        <div class="card">
                            <!-- <div class="card-body">   
                                <div class="row">
                                    <div class="col-12">                                     
                                        <div class="select">
                                            <select class="select-text" required name="select_option" [(ngModel)]="select_option" aria-placeholder="Choose a Type of Item">
                                                <option value="" disabled selected></option>
                                                <option *ngFor="let state of options_type" [ngValue]="state">
                                                        {{ state }}
                                                    </option>
                                            </select>
                                            <span class="select-highlight"></span>
                                            <span class="select-bar"></span>
                                            <label class="select-label">Choose a Type of Item</label>
                                        </div> 
                                    </div>                   
                                </div>                              
                            </div>                        -->
                            <form class="form-material m-t-40"  #formModalItem="ngForm">
                                <div class="row">
                                    <div class="col-md-9 offset-md-1">
                                        <div class="row">
                                            <div class="col-md-6"  >                                                
                                                <div class="form-group modal-form" >   
                                                    <label class="label-title" for="detail-name">Name:</label>                      
                                                    <input type="text" id="detail-name" class="form-control m-b-0" name="detail-name" [(ngModel)]="editItem.name" >
                                                </div>                      
                                            </div>    
                                            <div class="col-md-6" >                                                
                                                <div class="form-group modal-form" >   
                                                    <label class="label-title" for="detail-description">Description:</label>                      
                                                    <input type="text" id="detail-description" class="form-control m-b-0" name="detail-description" [(ngModel)]="editItem.description"   >
                                                </div>                      
                                            </div>   
                                            <div class="col-md-6"  *ngIf="editItem.model != 'N.A'" >                                                
                                                <div class="form-group modal-form" >   
                                                    <label class="label-title" for="detail-model">Model:</label>                      
                                                    <input type="text" id="detail-model" class="form-control m-b-0" name="detail-model" [(ngModel)]="editItem.model"   >
                                                </div>                      
                                            </div> 
                                            <div class="col-md-6">                                                
                                                    <div class="form-group modal-form" >   
                                                        <label class="label-title" for="detail-color">Color:</label>                      
                                                        <input type="text" id="detail-color" class="form-control m-b-0" name="detail-color" [(ngModel)]="editItem.color"   >
                                                    </div>                      
                                                </div>
                                            <div class="col-md-6"  *ngIf="editItem.size != 'N.A'">                                                
                                                <div class="form-group modal-form" >   
                                                    <label class="label-title" for="detail-size">Size:</label>                      
                                                    <input type="text" id="detail-size" class="form-control m-b-0" name="detail-size" [(ngModel)]="editItem.size"   >
                                                </div>                      
                                            </div>
                                        
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-md-4" >                                                
                                                        <div class="form-group modal-form" >   
                                                            <label class="label-title" for="detail-cost">Cost:</label>                      
                                                            <input type="number" id="detail-cost" class="form-control m-b-0" name="detail-cost" [(ngModel)]="editItem.cost ">
                                                        </div>                      
                                                    </div> 
                                                    <div class="col-md-4" >                                                
                                                        <div class="form-group modal-form" >   
                                                            <label class="label-title" for="detail-avaible">Available:</label>                      
                                                            <input type="number" id="detail-avaible" class="form-control m-b-0" name="detail-avaible" [(ngModel)]="editItem.available">
                                                        </div>                      
                                                    </div>   
                                                    <div class="col-md-4" >                                                
                                                        <div class="form-group modal-form" >   
                                                            <label class="label-title" for="detail-inventary">Inventary:</label>                      
                                                            <input type="number" id="detail-inventary" class="form-control m-b-0" name="detail-inventary" [(ngModel)]="editItem.inventary">
                                                        </div>                      
                                                    </div>   
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>   
                                <div class="row">
                                    <div class="col-md-4 offset-md-8   btn-save-add">
                                        <button class="btn btn-info waves-effect waves-light" (click)="saveItemProduct()" type="button">
                                            <span class="btn-label"><i class="fa fa-save"></i></span>Save
                                        </button>
                                    </div>
                                </div>                 
                            </form>
                        </div>                              
                    </div>
                </div>
            </div>
        </div>
    </div>